.product-card {
    max-width: 150px;
    margin: 10px;
}

mat-card:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
    cursor: pointer;
}

.sort-dropdown {
    margin-left: 10px;
    margin-top: 10px;
}